// Header Definitions.

@import "layout";

#header {
    color: $green;
    @include completeFont(Capsuula);
    background-color: $darkBrown;
    margin: 0px;
    font-size: 700%;
    width: 100%;
    font-weight: bolder;
}

#headerContent {
  @extend %marginContent;
}

#headerNavigation {
  font-size: 25%;
  text-align: right;
}

#headerNavigation ul li {
  display: inline;
  a {
      color: $green;
      padding: 5px 10px 5px 10px;
      border-radius: 5px;
      text-decoration:none;
      @include fade($darkBrown, $green, .5s);
  }
}