// Social Section definitions.

@import "layout";

#social {
    @extend %marginContent;
    background-color: $white;
    height: 20px;
    a {
      font-size: 140%;
      text-decoration:none;
      color: $green;
      padding: 5px;
      border-radius: 5px;
      @include completeFont(Capsuula);
      @include fade($white, $green, .2s);
    }
}


