@font-face {
	font-family: "Amatic-Bold";
	src: url("/static/fonts/Amatic-Bold.ttf");
}

@font-face {
	font-family: "Capsuula";
	src: url("/static/fonts/Capsuula.ttf");
}

@font-face {
	font-family: "Existence-Light";
	src: url("/static/fonts/Existence-Light.otf");
}


