footer {
    color: #6e9a81;
    font-family: Capsuula, Georgia, "Times New Roman", Times, serif;
    background-color: #310212;
    margin: 0px;
	font-size: 120%;
	text-align: center;
	height: 20px;
	padding: 10px;
}